*{padding: 0!important;font-family: 'Arial';}

p{
	font-size: 10.2pt;

}
#main-center{
	width: 1000px;
	margin: 0 auto;
}
#main-center header h2{
	font-size: 14px;
	text-align: center;
	color: #444
}
#main-center section p{
	/*text-align: justify;*/
	line-height: 19px;
	letter-spacing: -0.1px
}
#main-center section p strong{

}
section#clausulas{
	
}
.underline{
	text-decoration: underline;
}
section#data-contrato{
	padding-top: 20px!important;
}
section#data-contrato p{
	text-align: center;	
}
footer	{
	margin-top: 60px;
	display:table;
	width: 960px;
}
footer	p{
	line-height: 3px;
}

#parcelas p{
	margin-top: 1px!important;
	line-height: 10px!important;
}

#parcelas #parcelas-left{
	width: 475px;
	float: left;
}

#parcelas #parcelas-right{
	width: 475px;
	float: right;
}
.p_f_right{
	/*float: right;*/
}
footer	#ass-cliente{
	text-align: center;
}

footer #ass-testemunhas #ass-tes-left{
	float: left;
	margin-top: 30px;
}

footer #ass-testemunhas #ass-tes-right{
	float: right;
	margin-top: 30px;
}
#codigodebarras{
	padding-top: 50px!important;
}
#contrato-section-one{
	width: 97%;
	border:1px solid #000;
	padding: 0px 16px!important;
	float: left;
}

header{
	width: 100%;
	float: left;
}

#contrato-section-two{
	width: 97%;
	padding: 0px 16px!important;
	float: left;
	margin-top: 10px;
}

#contrato-section-three{
	width: 97%;
	padding: 0px 16px!important;
	float: left;
	border:1px solid #000;
}
section div p{
	line-height: 16px!important;
}
section div p span{
	font-weight: bold;

}
#contrato-section-four{
	text-align: justify;
	width: 97%;
	padding: 0px 16px!important;
	float: left;
}
#contrato-section-five{	
	width: 97%;
	padding: 0px 16px!important;
	float: left;
	text-align: center!important;
	margin-top: 20px;
}
#contrato-section-six{
	width: 100%;
	padding: 0px 0px!important;
	float: left;
	text-align: center!important;
	margin-top: 20px;
}

#section-mensagem-seguro{
	width: 95%;
	padding: 5px 16px 0px 16px!important;
	float: left;
	margin-top: 20px;
	border: 1px solid;

}