/*------------------------------------------------------------------
Theme Name: MIERA
Version:	1.0
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
[TABLE OF CONTENTS]

	1. Global Styles
		1.1. Extras 
	2. Header Styles
	3. Together Styles 
	4. Services Styles 
	5. Video wrap Styles 
	6. Work Styles 
	7. Newsletter   
	8. Testimonial 
	9. Team 
	10. Stats 
	11. Clients Styles 
	12. Contact Styles 
	13. Footer Styles 
	14. Sub Extras 
	15. Screenshots 
	16. Newsletter / 2 
	17. Pricing 
	18. Testimonial / 2 
	19. Downloads 
	20. Footer / 2 
	21. Slider Styles 
	22. Features Styles 
	23. Info wrap 
	24. Blog Styles 
	25. Additional styles
-------------------------------------------------------------------*/

/* 0. Default WP styles*/

/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

img {
	border: none;
	max-width: 100%;
	height: auto;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

.wp-smiley {
	margin: 0 !important;
	max-height: 1em;
	}
blockquote.left {
	margin-right: 20px;
	text-align: right;
	margin-left: 0;
	width: 33%;
	float: left;
	}
blockquote.right {
	margin-left: 20px;
	text-align: left;
	margin-right: 0;
	width: 33%;
	float: right;
	}
.gallery dl {}
.gallery dt {}
.gallery dd {}
.gallery dl a {}
.gallery dl img {}
.gallery-caption {}

.size-full {}
.size-large {}
.size-medium {}
.size-thumbnail {}

.bypostauthor {}



/* 1. Global Styles */

html, body {
    height:100%;
}

body {
	color: #000;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-style: normal;
	line-height: 1.5em;
}

.body {
	position:relative;
	width:100%;
	overflow:hidden;
}

p {
	font-family: 'Lato', sans-serif;
}

body.stopscroll {
	overflow: hidden;
}

::-moz-selection {
	background-color: #ccc3aa;
	color: #000;
}

::selection {
	background-color: #ccc3aa;
	color: #000;
}

a:hover,a:active {
	outline: 0;
}

button:focus {
	border: none;
	outline: 0;
}

ul {
	list-style: none;
	padding:0;
	margin:0;
}

ul, ol {
	margin-left: 1.25em;
}

ul li {
	list-style-type: disc;
}

.single-sidebar ul li {
	list-style-type: circle;
}

ul.navbar-nav li {
	list-style-type: none;
}

ul.loader li {
	list-style: none;
}

a ,a:hover {
	color: #4a4a4a;
	text-decoration: none;
	transition: .4s;
}

button, button:hover, input[type="submit"], input[type="submit"]:hover {
	transition: .4s;
}

a,
a:hover,
a:focus {
	outline: 0;
}

a:hover {
	text-decoration: none;
}

a:focus {
	text-decoration: none;
	outline: none;
}

.padding-none {
	padding-left: 0;
	padding-right: 0;
}

.table {
	display: table;
	width: 100%;
	height: 100%;
	margin: 0;
}

.table-cell {
	display: table-cell;
	vertical-align: middle;
}

.white {
	color: #fff;
}

.golden {
	color: #96894e;
}

.uppercase {
	text-transform: uppercase;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Raleway', sans-serif;
}

h1 {
	font-size: 3.125em;
	font-weight: 600;
}

h2 {
	font-size: 1.8em;
	font-weight: 500;
	letter-spacing: 0.05em;
	line-height: 1.6em;
	padding-bottom: 9%;
	color: #333333;
}

h3 {
	font-size: 1em;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 0.1em;
	color: #000;
	line-height: 1.8em;
}

h4 {
	font-size: 0.93em;
	font-weight: 600;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	line-height: 28px;
}

h5 {
	font-size: 0.75em;
	letter-spacing: 0.1em;
}

h6 {
	font-size: 0.875em;
}

p {
	font-size: 1em;
	font-weight: 300;
	line-height: 1.8em;
	color: #4a4a4a;
	letter-spacing: 0.02em;
}

.align-center {
	text-align: center;
	float: none;
	clear: both;
	overflow: hidden;
	margin: 0 auto;
}

/* 1.1. Extras */

.preload {position: fixed; left: 0; top: 0px; width: 100%; height: 100%; background: #fff; z-index: 1000;}
.loader{position:fixed;margin:0 auto;left:0;right:0;top:50%;margin-top:-30px;width:60px;height:60px;list-style:none;}
.loader li{background-color:#262626;width:10px;height:10px;float:left;margin-right:5px;box-shadow: 0px 80px 20px rgba(0,0,0,0.2);}
@keyframes laadbalk {
 0%{height: 10px;margin-top: 25px;}
 50%{height:50px;margin-top: 0px;}
 100%{height: 10px;margin-top: 25px;}
}
@-webkit-keyframes laadbalk {
 0%{height: 10px;margin-top: 25px;}
 50%{height:50px;margin-top: 0px;}
 100%{height: 10px;margin-top: 25px;}
}
@-moz-keyframes laadbalk {
 0%{height: 10px;margin-top: 25px;}
 50%{height:50px;margin-top: 0px;}
 100%{height: 10px;margin-top: 25px;}
}
@-ms-keyframes laadbalk {
 0%{height: 10px;margin-top: 25px;}
 50%{height:50px;margin-top: 0px;}
 100%{height: 10px;margin-top: 25px;}
}
@-o-keyframes laadbalk {
 0%{height: 10px;margin-top: 25px;}
 50%{height:50px;margin-top: 0px;}
 100%{height: 10px;margin-top: 25px;}
}
.loader li:nth-child(1){-webkit-animation: laadbalk 0.6s ease-in-out infinite 0s;animation: laadbalk 0.6s ease-in-out infinite 0;-moz-animation: laadbalk 0.6s ease-in-out infinite 0s; -ms-animation: laadbalk 0.6s ease-in-out infinite 0s;-o-animation: laadbalk 0.6s ease-in-out infinite 0s;}
.loader li:nth-child(2){-webkit-animation: laadbalk 0.6s ease-in-out infinite -0.2s;animation: laadbalk 0.6s ease-in-out infinite -0.2s;-moz-animation: laadbalk 0.6s ease-in-out infinite -0.2s;-ms-animation: laadbalk 0.6s ease-in-out infinite -0.2s;-o-animation: laadbalk 0.6s ease-in-out infinite -0.2s;}
.loader li:nth-child(3){-webkit-animation: laadbalk 0.6s ease-in-out infinite -0.4s;animation: laadbalk 0.6s ease-in-out infinite -0.4s;-moz-animation: laadbalk 0.6s ease-in-out infinite -0.4s;-ms-animation: laadbalk 0.6s ease-in-out infinite -0.4s;-o-animation: laadbalk 0.6s ease-in-out infinite -0.4s;}

.arrow-down {
	bottom: 20px;
	display: block;
	left: 50%;
	position: absolute;
	z-index: 100;
}

.content-head h2 {
	font-size: 36px;
	font-weight: 600;
	text-transform: uppercase;
	color: #000;
	letter-spacing: 0.15em;
	margin: 0 0 33px;
	padding-bottom: 48px;
	background: url(../images/sep.png) no-repeat center bottom;
}

.content-head p {
	letter-spacing: 0.05em;
	line-height: 30px;
	font-size: 16px;
	/*color: #666;*/
	color: #000000;
	padding: 0 21%;
}

.content-head2 p {
	padding: 0px 17%;
}

/* 2. Header Styles */

.logo-section {
	background: #fff;
	width: 100%;
	z-index: 20;
	transition: all 0.5s ease 0s;
	height: 270px !important;
	display: table;
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	padding: 100px 0;
	transition: .4s;
}

.lead-para-logo {
	text-transform: uppercase;
	letter-spacing: 0.15em;
	margin-bottom: 0;
	padding: 0;
	margin: 0;
	font-weight: 500;
	font-size: 14px;
}

.logo-section h3 {
	letter-spacing: 0.15em;
	font-size: 36px;
	font-weight: bold;
	text-transform: uppercase;
	color: #000;
	transition: 0.5s;
	-webkit-transition: 0.5s;
	padding: 0;
	margin: -18px 0 -5px;
}

/* 3. Together Styles */

.together {
	background: #f7f7f9;
	padding: 160px 0 135px;
}

.culture {
	padding: 70px 0;
	margin: -5px 0;
}

.culture img {
	width: 100%;
	cursor: pointer;
	transition: .4s;
	opacity: 1;
}

.culture img:hover {
	transition: .4s;
	opacity: 0.6;
}

/* 4. Services Styles */

.services-description {
	margin: 75px 0 0;
}

.service-content {
	cursor: pointer;
}

.service-content i {
	text-align: center;
	font-size: 50px;
	display: table;
	margin: 0 auto 35px;
	transition: .4s;
}

.service-content h4 {
	font-size: 20px;
	font-weight: 600;
	text-transform: uppercase;
	color: #000;
	line-height: 30px;
	letter-spacing: 0.15em;
	text-align: center;
	margin: 0 0 25px;
}

.service-content:hover i, .service-content:hover h4 {
	color: #978b4e;
	transition: .4s;
}

.service-content p {
	text-align: center;
	line-height: 27px;
	letter-spacing: 0.05em;
	font-size: 14px;
	color: #666;
	font-weight: 300;
	padding: 0 30px;
}

/* 5. Video wrap Styles */

.video {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
}

.video iframe,.video object,.video embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border:none;
}

.hero-divider {
	padding: 146px 0 215px;
	position: relative;
	overflow: hidden;
}

.overlay {
	height: 100%;
	opacity: 0.8;
	position: absolute;
	top: 0;
	width: 100%;
}

.hero-text {
	z-index: 1;
}

.hero-text i {
	color: #b7b7b7;
	font-size: 25px;
	text-align: center;
}

.hero-text p {
	margin: 0;
	line-height: 60px;
	letter-spacing: 0.15em;
	font-size: 36px;
	font-weight: 600;
	text-transform: uppercase;
	color: #fff;
	font-family: Raleway;
	padding: 0 15%;
	margin: 35px 0 0;
}

/* .video-wrapper {
	position: absolute;
	width: 100%;
	top: 0px;
	left: 0px;
	z-index: 0;
}

.video-wrapper video {
	width: 100%;
	position: absolute;
	top: 0px;
} */

.video-wrapper.container {
	overflow: hidden;
	padding: 0;
}

.video-wrapper.container video {
	position: absolute;
	overflow: hidden;
}

.video-wrapper.full-width-video {
	position: absolute;
	width: 100%;
	min-width: 100%;
	left: 0;
	top: 0;
}

.full-width-video video {
	min-width: 100%;
	width: 100%;
}

/* 6. Work Styles */

.isotope-item {
	width: 33.3%;
}

/* 7. Newsletter */

.newsletter {
	background: #f7f7f9;
	height: 200px;
	padding: 76px 0;
}

.newsletter h4 {
	font-family: Raleway;
	font-size: 15px;
	font-weight: 600;
	text-transform: uppercase;
	color: #000;
	line-height: 30px;
	letter-spacing: 0.15em;
	margin: 10px 0 0;
} 

/* 8. Testimonial */

.content-head h2.testimonial {
	color: #fff;
}

.testimonials i {
	height: 165px;
	width: 165px;
	border: 2px solid #FFF;
	color: #fff;
	line-height: 161px;
	text-align: center;
	font-size: 50px;
	border-radius: 50%;
	margin: 30px 0 60px;
}

.testimonials h4 {
	font-size: 20px;
	font-weight: 600;
	text-transform: uppercase;
	color: #fff;
	line-height: 30px;
	letter-spacing: 0.15em;
	text-align: center;
	margin: 0 0 25px;
}

.testimonials p {
	text-align: center;
	line-height: 27px;
	letter-spacing: 0.05em;
	font-size: 14px;
	color: #666;
	font-weight: 300;
	padding: 0px 15%;
}

.agency-inner {
	margin: 5% 0;
}

.owl-buttons div {
	display: inline-block;
	margin-right: 20px;
	color: #fff;
}

/* 9. Team */

.staff-info img {
	width: 100%;
	opacity: 1 !important;
}

.staff-info h3 {
	font-size: 20px;
	font-weight: 600;
	text-transform: uppercase;
	color: #000;
	line-height: 30px;
	letter-spacing: 0.15em;
	text-align: center;
	margin: 38px 0 10px;
}

.staff-info p {
	font-size: 14px;
	text-transform: none;
	letter-spacing: 0.05em;
	text-align: center;
	margin: 0;
}

.team-thumb {
	padding: 55px 0 0 0;
}

.team figure {
	position: relative;
	overflow: hidden;
	cursor: pointer;
}

.team figure img {
	opacity: 0.8;
}

.team figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.team figure figcaption::before,
.team figure figcaption::after {
	pointer-events: none;
}

.team figure figcaption,
.team figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.team figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.team figure h2 {
	word-spacing: -0.15em;
	font-weight: 300;
}

.team figure h2 span {
	font-weight: 800;
}

.team figure h2,
.team figure p {
	margin: 0;
}

.team figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}

.blog-snippet .effect-hera img {
	margin-bottom: 0;
}

figure.effect-hera {
	background: #000;
	margin-bottom: 16px;
}

figure.effect-hera p {
	position: absolute;
	top: 50%;
	left: 50%;
	-moz-transition: opacity 0.35s, -moz-transform 0.35s;
	-o-transition: opacity 0.35s, -o-transform 0.35s;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-moz-transition: opacity 0.35s, -moz-transform 0.35s;
	-o-transition: opacity 0.35s, -o-transform 0.35s;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-moz-transform: translate3d(-50%, -50%, 0);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate3d(-50%, -50%, 0);
	-webkit-transform: translate3d(-50%, -50%, 0);
	transform: translate3d(-50%, -50%, 0);
	-moz-transform-origin: 50%;
	-ms-transform-origin: 50%;
	-o-transform-origin: 50%;
	-webkit-transform-origin: 50%;
	transform-origin: 50%;
}

figure.effect-hera figcaption::before {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 200px;
	height: 200px;
	border: 2px solid #fff;
	content: "";
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	-moz-transition: opacity 0.35s, -moz-transform 0.35s;
	-o-transition: opacity 0.35s, -o-transform 0.35s;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-moz-transition: opacity 0.35s, -moz-transform 0.35s;
	-o-transition: opacity 0.35s, -o-transform 0.35s;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-moz-transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -45deg) scale3d(0, 0, 1);
	-ms-transform: translate(-50%, -50%, 0) rotate(-45deg) scale( 1);
	-o-transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -45deg) scale3d(0, 0, 1);
	-webkit-transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -45deg) scale3d(0, 0, 1);
	transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -45deg) scale3d(0, 0, 1);
	-moz-transform-origin: 50%;
	-ms-transform-origin: 50%;
	-o-transform-origin: 50%;
	-webkit-transform-origin: 50%;
	transform-origin: 50%;
}

figure.effect-hera p {
	width: 100px;
	text-transform: none;
	font-size: 121%;
	line-height: 2;
}

figure.effect-hera p a {
	color: #fff;
}

figure.effect-hera p a:hover,
figure.effect-hera p a:focus {
	opacity: 0.6;
}

figure.effect-hera p a i {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	-moz-transition: opacity 0.35s, -moz-transform 0.35s;
	-o-transition: opacity 0.35s, -o-transform 0.35s;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-moz-transition: opacity 0.35s, -moz-transform 0.35s;
	-o-transition: opacity 0.35s, -o-transform 0.35s;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

figure.effect-hera p a:first-child i {
	-moz-transform: translate3d(-60px, -60px, 0);
	-ms-transform: translate(-60px, -60px);
	-o-transform: translate3d(-60px, -60px, 0);
	-webkit-transform: translate3d(-60px, -60px, 0);
	transform: translate3d(-60px, -60px, 0);
}

figure.effect-hera p a:nth-child(2) i {
	-moz-transform: translate3d(60px, -60px, 0);
	-ms-transform: translate(60px, -60px);
	-o-transform: translate3d(60px, -60px, 0);
	-webkit-transform: translate3d(60px, -60px, 0);
	transform: translate3d(60px, -60px, 0);
}

figure.effect-hera p a:nth-child(3) i {
	-moz-transform: translate3d(-60px, 60px, 0);
	-ms-transform: translate(-60px, 60px);
	-o-transform: translate3d(-60px, 60px, 0);
	-webkit-transform: translate3d(-60px, 60px, 0);
	transform: translate3d(-60px, 60px, 0);
}

figure.effect-hera p a:nth-child(4) i {
	-moz-transform: translate3d(60px, 60px, 0);
	-ms-transform: translate(60px, 60px);
	-o-transform: translate3d(60px, 60px, 0);
	-webkit-transform: translate3d(60px, 60px, 0);
	transform: translate3d(60px, 60px, 0);
}

figure.effect-hera:hover figcaption::before {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
	-moz-transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -45deg) scale3d(1, 1, 1);
	-ms-transform: translate(-50%, -50%) rotate(-45deg) scale(1);
	-o-transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -45deg) scale3d(1, 1, 1);
	-webkit-transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -45deg) scale3d(1, 1, 1);
	transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -45deg) scale3d(1, 1, 1);
}

figure.effect-hera:hover h2 {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	-moz-transform: translate3d(-50%, -50%, 0) scale3d(0.8, 0.8, 1);
	-ms-transform: translate(-50%, -50%, 0) scale(0.8, 0.8);
	-o-transform: translate3d(-50%, -50%, 0) scale3d(0.8, 0.8, 1);
	-webkit-transform: translate3d(-50%, -50%, 0) scale3d(0.8, 0.8, 1);
	transform: translate3d(-50%, -50%, 0) scale3d(0.8, 0.8, 1);
}

figure.effect-hera:hover p i:empty {
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate(0, 0);
	-o-transform: translate3d(0, 0, 0);
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	/* just because it's stronger than nth-child */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1
}

/* 10. Stats */

.simple-parallax {
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.counter-section {
	position: relative;
	padding: 217px 0;
	top: 0 !important;
}

h4.head-counter, .counter-section h4 {
	font-size: 15px;
	letter-spacing: 0.15em;
	text-transform: uppercase;
	color: #fff;
	font-weight: 600;
	margin: 0;
	text-align: center;
}

.fact-counter,
.counter-section .fact1,
.counter-section .fact2,
.counter-section .fact3 {
	font-family: Lato;
	font-size: 50px;
	text-transform: uppercase;
	color: #fff;
	letter-spacing: 0.15em;
	font-weight: 900;
	text-align: center;
	padding: 0;
	line-height: 40px;
	padding-bottom: 35px;
	margin-bottom: 25px;
	background: url(../images/sep.png) no-repeat center bottom;
}

.timer {
	z-index: 1;
}

/* 11. Clients Styles */

.clients {
	background: #F7F8FB;
	padding: 120px 0 75px;
}

.client-row {
	overflow: hidden;
	text-align: center;
	line-height: 0;
}

.client-row .clients-list .single-client {
	width: 25%;
	float: left;
	border-right: 1px solid #e6e6e7;
}

.client-row .clients-list .single-client:nth-child(1),
.client-row .clients-list .single-client:nth-child(2),
.client-row .clients-list .single-client:nth-child(3),
.client-row .clients-list .single-client:nth-child(4) {
	border-bottom: 1px solid #e6e6e7;
}

.client-row .clients-list .single-client:nth-child(4) ,
.client-row .clients-list .single-client:nth-child(8) {
	border-right: none;
}

.client-row img {
	opacity: 0.3;
	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease;
	transition: all .4s ease;
	-webkit-backface-visibility: none;
}

.client-row img:hover {
	opacity: 1;
	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease;
	transition: all .4s ease;
	cursor: pointer;
}

.clients-head {
	font-size: 15px;
	font-weight: 600;
	color: #000;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.15em;
	margin: 0 0 90px;
}

/* 12. Contact Styles */

.contact-form input:not([type="submit"]), .contact-form textarea {
	border: 2px solid #000;
	display: block;
	height: 65px;
	padding: 5px 20px;
	text-align: left;
	width: 100%;
	color: #000;
	font-size: 13px;
	font-weight: 600;
	text-transform: uppercase;
	font-family: Raleway;
	letter-spacing: 0.15em;
}

.contact-form input:not([type="submit"])::-webkit-input-placeholder {
	color: #000 !important;
	opacity: 1 !important;
}

.contact-form input:not([type="submit"]):-moz-placeholder {
	color: #000 !important;
	opacity: 1 !important;
}

.contact-form input:not([type="submit"])::-moz-placeholder {
	color: #000 !important;
	opacity: 1 !important;
}

.contact-form input:not([type="submit"]):-ms-input-placeholder {
	color: #000 !important;
	opacity: 1 !important;
}

.contact-form textarea::-webkit-input-placeholder {
	color: #000 !important;
	opacity: 1 !important;
}

.contact-form textarea:-moz-placeholder {
	color: #000 !important;
	opacity: 1 !important;
}

.contact-form textarea::-moz-placeholder {
	color: #000 !important;
	opacity: 1 !important;
}

.contact-form textarea:-ms-input-placeholder {
	color: #000 !important;
	opacity: 1 !important;
}

.contact-form input:not([type="submit"]):focus, .contact-form textarea:focus {
	text-transform: none;
	outline: 0;
}

.contact-form .row {
	margin: 0;
}

.contact-form .row .col-md-6 {
	padding: 0;
}

.contact-form .row .col-md-6:nth-child(1) input {
	border-right: 1px solid #000;
}

.contact-form .row .col-md-6:nth-child(2) input {
	border-left: 1px solid #000;
}

.contact-form textarea {
	border: 2px solid #000;
	border-top: none;
	height: 197px;
	padding: 25px 20px;
	margin-bottom: 50px;
}

#contact_form input:focus, #contact_form textarea:focus {
	outline: none;
}

input[type="submit"], .contact-form button {
	height: 57px;
	line-height: 53px;
	background: #fff;
	outline: none;
}

.submit {
	margin: 50px auto;
	background: #333333;
}

.submit:focus {
	margin: 50px auto;
}

.statusMessage,.successmessage,.errormessage {
	display: none;
	margin: auto;
	width: 100%;
	height: auto;
	background: #fff;
	border: 1px solid #ddd;
	margin: 0 auto;
	padding: 30px;
}

.statusMessage p {
	margin: 0;
	color: #888;
}

.successmessage p {
	margin: 0;
	color: #888;
}

.success-ico {
	background: url(../images/success.png) no-repeat;
	width: 30px;
	height: 30px;
	float: left;
	margin-right: 15px;
	position: relative;
	top: -6px;
}

.error-ico {
	background: url(../images/error.png) no-repeat;
	width: 30px;
	height: 30px;
	float: left;
	margin-right: 15px;
	position: relative;
	top: 5px;
}

.errormessage p {
	margin: 0;
	color: #888;
}

.address {
	background: #000;
	padding: 5% 0;
}

.logo {
	font-weight: 600;
	padding-bottom: 12%;
}

/* 13. Footer Styles */

footer {
	position: relative;
	height: 100px;
	background: none repeat scroll 0% 0% #000;
	overflow: hidden;
}

.fixed-footer {
	position: relative;
	width: 100%;
	z-index: 88;
	bottom: 0;
	transform: translateZ(0);
}

.footer h5 {
	font-size: 13px;
	font-weight: 600;
	text-transform: uppercase;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 0.15em;
	margin: 0 0 50px;
	min-height: 25px;
}

.footer p {
	font-size: 16px;
	font-weight: 300;
	letter-spacing: 0.05em;
	color: #666666;
	line-height: 30px;
	white-space: pre-wrap;
}

.address p.font-size-14,
.address a, 
.address a:hover, 
.address a:focus,
.address p.font-size-12,
footer p {
	color: #a5a5a5;
	font-weight: 300;
}

.social-bar {
	overflow: hidden;
}

.social-bar .link {
	height: 100px;
	text-align: center;
	position: relative;
	overflow: hidden;
}

.social-bar .link i {
	color: #555555;
}

.social-bar .initial,
.social-bar .hover-state {
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	transition: all .3s ease;
	-webkit-transform: translate3d(0, 0px, 0);
	-moz-transform: translate3d(0, 0px, 0);
	transform: translate3d(0, 0px, 0);
	position: absolute;
	width: 100%;
	top: 40px;
	color: #555;
	font-size: 20px;
}

.social-bar .hover-state {
	-webkit-transform: translate3d(0, 200px, 0);
	-moz-transform: translate3d(0, 200px, 0);
	transform: translate3d(0, 200px, 0);
	top: 37px;
}

.social-bar span {
	text-transform: uppercase;
	font-family: raleway;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 0.10em;
	color: #000;
}

.social-bar .link:hover .initial {
	-webkit-transform: translate3d(0, -200px, 0);
	-moz-transform: translate3d(0, -200px, 0);
	transform: translate3d(0, -200px, 0);
}

.social-bar .link:hover .hover-state {
	-webkit-transform: translate3d(0, 0px, 0);
	-moz-transform: translate3d(0, 0px, 0);
	transform: translate3d(0, 0px, 0);
}

.footer {
	background: #000;
	padding: 60px 0 40px;
}

.icon-odd {
	background: #ededf1;
}

.icon-even {
	background: #f7f7f9;
}

.copyright {
	font-size: 12px;
	letter-spacing: 0.05em;
	padding: 40px 0;
	color: #666;
}

.go-to-top {
	position: relative;
}

.go-top {
	position: fixed;
	right: 20px;
	color: #000000;
	bottom: 20px;
	z-index: 99;
	transition:.4s;
}

.go-top:hover {
	color: #333;
	transition:.4s;
}

#intro {
	overflow:hidden;
	position:relative;
	height:100vh;
}

.intro-inner {
	padding: 0;
	position: relative;
	z-index:888;
    position: absolute;
    left: 0px;
    right: 0px;
    width: 100%;
    margin-top:-30px;

}

.intro2 .intro-inner {
	padding: 370px 0 320px;
}

.arrow-down {
	color: #fff;
	font-size: 67px !important;
	position: absolute;
	bottom: 55px;
	left: 0;
	right: 0;
	text-align: center;
}

/* 14. Sub Extras */

#top-slider h3 {
	font-size: 50px;
	font-weight: 800;
	text-transform: uppercase;
	color: #fff;
	text-align: center;
	line-height: 60px;
	letter-spacing: 0.15em;
	margin: -12px 0 25px;
}

.intro-inner h5 {
	font-size: 15px;
	font-weight: 700;
	text-transform: uppercase;
	color: #fff;
	text-align: center;
	line-height: 30px;
	letter-spacing: 0.15em;
	margin: 0 0 -9px;
	padding: 0 23%;
}

.btn-1 {
	font-size: 13px;
	font-weight: 600;
	text-transform: uppercase;
	color: #000;
	letter-spacing: 0.15em;
	font-family: Raleway;
	border: 2px solid #000000;
	line-height: 46px;
	height: 50px;
	padding: 0 50px;
	display: table;
}

.btn-1:hover {
	/*color: #fff;
	border: 2px solid #000000;
	background: #000;*/
}

.btn-center {
	display: table;
	margin: 0 auto;
}

.btn-big {
	padding: 0 80px;
}

.newsletter .container {
	padding: 0 60px;
}

#header2 {
	
	/*height: 75px;*/
	height: 130px;
	position: absolute;
	width: 96%;
	margin: 0 2%;
	left: 0;
	right: 0;
	top: 35px;
	z-index: 9999;
}

#header2 .navbar-brand {
	font-size: 24px;
	text-transform: uppercase;
	color: #000;
	font-family: Raleway;
	font-weight: 800;
	letter-spacing: 0.15em;
	margin: 12px 0 0;
}

#header2 .nav > li > a {
	font-family: 'Roboto Condensed';
	font-size: 17px;
	font-weight: 300;
	color: #FFFFFF;
	/*line-height: 75px;*/
	line-height: 130px;
	letter-spacing: 0.15em;
	padding: 0 20px;
	margin: -1px 0 0;
	background: transparent !important;
}

#header2 .nav > li > a:hover,
#header2 .nav > li.active > a {
	/*color: #0D6D3F;*/
	color: #FFF;
}

.navbar-toggle {
	border:none !important;
}

/*=============================*/

@media screen and (max-width: 768px) {
    .navbar-nav {transform: translateY(-150%); -moz-transform: translateY(-150%);-webkit-transform: translateY(-150%);-o-transform: translateY(-150%);-ms-transform: translateY(-150%);transition: all 0.3s ease-in;-moz-transition: all 0.3s ease-in;-webkit-transition: all 0.3s ease-in;-o-transition: all 0.3s ease-in;-ms-transition: all 0.3s ease-in;}
    .collapse {display: block;}
    .navbar-nav.slide {transform: translateY(0px); -moz-transform: translateY(0px); -webkit-transform: translateY(0px); -o-transform: translateY(0px); -ms-transform: translateY(0px);}
}

/*=============================*/

#header2 .dropdown-menu {
	position: absolute;
	top: 100%;
	left: -5px;
	z-index: 1000;
	float: left;
	min-width: 160px;
	padding: 10px 10px 10px 10px;
	margin: 0;
	list-style: outside none none;
	font-size: 13px;
	font-weight: 300;
	letter-spacing: 0.05em;
	background-color: #FFF;
	border: none;
	border-radius: 0;
	box-shadow: none;
	background-clip: padding-box;
}

#header2 .dropdown-menu a {
	color: #666;
	width:100%;
}

.dropdown-menu > li > a {
	display: block;
	padding: 5px 20px;
	clear: both;
	font-weight: 300;
	line-height: 1.42857;
	white-space: nowrap;
	font-size: 13px;
}

#header2 .dropdown-menu a:hover {
	color:#978b4e;
}

li.menu-item-has-children {
	position: relative;
}

ul.dropdown-menu.level-0 li.menu-item-has-children a span::before {
	-webkit-transform: rotate(270deg);
	-ms-transform: rotate(270deg);
	-o-transform: rotate(270deg);
	transform: rotate(270deg);
	display: inline-block;
	margin-left: 30px;
}

#header2 ul.dropdown-menu.level-1, #header2 ul.dropdown-menu.level-2, #header2 ul.dropdown-menu.level-3 {
	position: absolute;
	left: 100%;
	top: 0;
	display: none;
}

#header2 li:hover > ul.dropdown-menu.level-1, #header2 li:hover > ul.dropdown-menu.level-2, #header2 li:hover > ul.dropdown-menu.level-3 {
	display: block;
}

.dropdown span {
	font-size: 25px;
	position: relative;
	top: 4px;
	margin-left: 7px;
}

.floating {
	-webkit-animation-name: Floatingx;
	-webkit-animation-duration: 4s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: ease-in-out;
	-moz-animation-name: Floating;
	-moz-animation-duration: 4s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: ease-in-out;
	margin: 5% auto;
}

@-webkit-keyframes Floatingx {
	from {
		-webkit-transform: translate(0, 0);
	}

	65% {
		-webkit-transform: translate(0, 30px);
	}

	to {
		-webkit-transform: translate(0, 0);
	}
}

@-moz-keyframes Floating {
	from {
		-moz-transform: translate(0, 0px);
	}

	65% {
		-moz-transform: translate(0, 30px);
	}

	to {
		-moz-transform: translate(0, 0);
	}
}

.img-center {
	display: table;
	margin: 0 auto;
}

#index2 .together {
	padding-bottom: 40px;
}

.space10 {
	margin-bottom: 10px;
}

.space20 {
	margin-bottom: 20px;
}

.space30 {
	margin-bottom: 30px;
}

.space40 {
	margin-bottom: 40px;
}

.space50 {
	margin-bottom: 50px;
}

.space55 {
	margin-bottom: 55px;
}

.space60 {
	margin-bottom: 60px;
}

.space70 {
	margin-bottom: 70px;
}

.space80 {
	margin-bottom: 80px;
}

.space90 {
	margin-bottom: 90px;
}

.app-features {
	margin-top: 50px;
}

.app-features li {
	display: table;
	width: 100%;
	margin-bottom: 50px;
	transition: .4s;
}

.app-features li:hover {
	cursor: pointer;
}

.app-features li:last-child {
	margin-bottom: 0;
}

.app-features li span {
	float: left;
	font-size: 50px;
	transition: .4s;
}

.feature-text {
	margin-left: 120px;
}

.feature-text h4 {
	font-size: 20px;
	font-weight: 600;
	text-transform: uppercase;
	color: #000;
	line-height: 30px;
	letter-spacing: 0.15em;
	margin: 7px 0 15px;
	transition: .4s;
}

.feature-text p {
	font-size: 16px;
	/*color: #666 !important;*/
	color: #000000 !important;
}

.app-features li:hover {
	cursor: pointer;
}

.app-features li:hover i,
.app-features li:hover h4 {
	color: #0D6D3F;
	transition: .4s;
}

.video {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
}

.video iframe,.video object,.video embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: none;
}

/* 15. Screenshots */

.sshots h2 {
	background: none;
	margin: 0px;
}

.sshots div.col-md-6 {
	padding-left: 0;
	padding-right: 0;
}

.sshots a {
	position: relative;
	overflow: hidden;
	display: table;
	width: 100%;
	margin: 0 auto;
}

.sshots a:after {
	content: "\f002";
	font-family: 'FontAwesome';
	font-size: 40px;
	color: #000000;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 46px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	margin: 0 auto;
	top: 50%;
	margin-top: -23px;
	opacity: 0;
	transition: .4s;
}

.sshots a img {
	opacity: 1;
	transition: .4s;
	width: 100%;
	transform: scale(1);
}

.sshots a:hover img {
	opacity: 0.3;
	transition: .4s;
	transform: scale(1.1);
}

.sshots a:hover:after {
	opacity: 1;
	transition: .4s;
}

/* 16. Newsletter / 2 */

/* .newsletter2 {
	background: #f7f7f9;
	padding: 70px 0;
} */

/* .newsletter2 h4 {
	font-size: 15px;
	font-weight: bold;
	text-transform: uppercase;
	color: #000;
	line-height: 30px;
	letter-spacing: 0.15em;
	margin: 70px 0 30px;
} */

div.newsletter2 {
	width: 520px;
	height: 70px;
	position: relative;
	padding-right: 0;
}

div.newsletter2 input:not([type="submit"]) {
	width: 100%;
	border: 2px solid #FFFFFF;
	border: 2px solid #FFFFFF;
	display: block;
	height: 70px;
	padding: 5px 90px 5px 20px;
	text-align: left;
	color: #FFFFFF;
	font-size: 13px;
	font-weight: 600;
	text-transform: uppercase;
	font-family: Raleway;
	letter-spacing: 0.15em;
	background: transparent;
}

input[type="submit"]{
	width: 70px;
	height: 70px;
	position: absolute;
	right: 0px;
	top: 0;
	border: none;
	background: transparent;
	font-size: 25px;
	color: #FFFFFF;
	z-index: 3;
	text-indent: 10px;
	transition: .4s;
}

input[type="submit"]:hover {
	display: none;
	background: transparent;
}

.span-submit {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	width: 70px;
	transition: .4s;
}

.span-submit:hover {
	background-color: transparent;
}

span.span-submit.fa.fa-arrow-right.arrow-submit::before {
	top: 50%;	
	position: absolute;
	margin-top: -12.5px;
	font-size: 25px;
	right: 25px;
	color: #FFFFFF;
}

span.span-submit.fa.fa-arrow-right.arrow-submit:hover::before {
	color: #FFFFFF;
}
/* 
.span-submit .arrow-submit {
	position: absolute;
	top: 50%;
	right: 25px;
	font-size: 25px;
	margin-top: -12.5px;
}

.span-submit .arrow-submit:hover {
	color: #fff;
} */

/* 17. Pricing */

.pricing {
	background: #fff;
	padding: 160px 0 210px;
}

.pricing-plan {
	background: #f7f7f9;
	padding: 50px 30px;
	transition: .4s;
}

.plan-title {
	font-size: 20px;
	font-weight: 600;
	text-transform: uppercase;
	color: #000;
	letter-spacing: 0.15em;
	text-align: center;
	font-family: Raleway;
}

.plan-price {
	font-weight: 300;
	font-size: 15px;
	text-align: center;
	margin: 20px 0 25px;
	letter-spacing: 0.15em;
}

.pricing-plan p.price-desc {
	font-size: 14px;
	line-height: 27px;
	letter-spacing: 0.05em;
	color: #666;
	text-align: center;
	padding-bottom: 35px;
	margin-bottom: 35px;
	background: url(../images/sep1.png) no-repeat bottom center;
}

.pricing-plan li {
	text-align: center;
	font-size: 14px;
	font-weight: 300;
	margin-bottom: 22px;
	letter-spacing: 0.05em;
	color: #666;
}

.buy-btn {
	font-size: 15px;
	padding: 0 20px;
	margin: 50px auto 0;
	display: table;
}

.pricing-plan:hover, .popular {
	background: #f0f0f3;
	cursor: pointer;
	transition: .4s;
}

/* 18. Testimonial / 2 */

.testimonials2 h4 {
	font-size: 15px;
	text-transform: uppercase;
	color: #fff;
	letter-spacing: 0.15em;
	padding-bottom: 60px;
	margin-bottom: 35px;
	margin-top: -5px;
	background: url(../images/sep.png) no-repeat center bottom;
}

.testimonials2 p {
	letter-spacing: 0.05em;
	line-height: 30px;
	font-size: 16px;
	color: #c1c1c1;
	font-weight: 300;
	padding: 0 13% 70px;
}

.quote-slider .owl-controls {
	display: none !important;
}

.carousel-controls .quote-slider .owl-controls {
	display: block !important;
}

.carousel-controls .quote-slider .owl-controls .owl-page span ,
.carousel-controls .quote-slider .owl-controls .owl-page span {
	display: block;
	width: 12px;
	height: 12px;
	margin: 5px 10px;
	opacity: 1;
	border-radius: 50%;
	background: #fff;
	border: 2px solid #fff;
}

.carousel-controls .quote-slider .owl-controls .owl-page.active span ,
.carousel-controls .quote-slider .owl-controls .owl-page.active span {
	background: transparent;
	border: 2px solid #fff;
}

/* 19. Downloads */

.downloads {
	background: #ffffff;
	padding: 150px 0 165px;
}

.downloads h3 {
	font-family: Raleway;
	font-size: 36px;
	font-weight: 600;
	text-transform: uppercase;
	color: #000;
	letter-spacing: 0.15em;
	border-bottom: 1px solid #9e9e9e;
	padding: 0 65px;
	display: table;
	margin: 0 auto;
	padding-bottom: 32px;
}

.downloads p {
	font-size: 15px;
	text-transform: uppercase;
	color: #000;
	letter-spacing: 0.15em;
	line-height: 30px;
	font-weight: 600;
	text-align: center;
	font-family: Raleway;
	padding: 8px 0 55px;
	margin: 0;
}

.dual-btns {
	display: table;
	margin: 0 auto;
}

.dual-btns a {
	height: 70px;
	line-height: 66px;
	padding: 0 70px 0 25px;
	font-size: 13px;
	font-weight: 600;
	float: left;
	margin: 0 26px;
}

.dual-btns a i {
	font-size: 40px;
	margin-right: 50px;
	position: relative;
	top: 8px;
}

/* 20. Footer / 2 */

.footer2 {
	background: #000000;
}

.footer-social {
	display: table;
	float: right;
	margin: 35px 0 0;
}

.footer-social li {
	float: left;
	margin-right: 30px;
}

.footer-social li a {
	font-size: 30px;
	color: #aeaeae;
}

.footer-social li a:hover {
	color: #000;
}

.footer2 p {
	font-size: 12px;
	letter-spacing: 0.05em;
	padding: 41px 0 0;
	color: #FFFFFF;
}

/* 21. Slider Styles */

#top-slider .owl-prev {
	left: 0;
	opacity: 1;
	display: table;
	height: 50px;
	width: 100px;
	font-size: 0;
	position: absolute;
	top: 50%;
	margin-top: -25px;
	transition: .4s;
}

#top-slider .owl-prev:after {
	content: "\f177";
	font-family: 'FontAwesome';
	font-size: 40px;
	color: #b3b3b3;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 100%;
	width: 100%;
	line-height: 50px;
	padding-left: 25px;
	transition: .4s;
}

#top-slider .owl-next {
	right: 0;
	opacity: 1;
	display: table;
	height: 50px;
	width: 100px;
	font-size: 0;
	position: absolute;
	top: 50%;
	margin-top: -25px;
	transition: .4s;
}

#top-slider .owl-next:after {
	content: "\f178";
	font-family: 'FontAwesome';
	font-size: 40px;
	color: #b3b3b3;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 100%;
	width: 100%;
	line-height: 50px;
	padding-left: 25px;
	transition: .4s;
}

#top-slider .owl-prev:hover:after ,
#top-slider .owl-next:hover:after {
	color: #fff;
	transition: .4s;
}

#index3 {
	padding-top: 110px;
}

.header3 {
	background: #f00;
	height: 110px !important;
	position: fixed !important;
	width: 100% !important;
	margin: 0 !important;
	padding: 30px 15px 0 15px !important;
	left: 0;
	right: 0;
	top: 0px !important;
	z-index: 9999;
	transition: .4s;
}

body.admin-bar .header3 {
	top: 32px !important;
}

body.admin-bar .header5 {
	top: 70px !important;
}

.header-active3 {
	height: 75px !important;
	transition: .4s;
	padding: 0px 15px 20px !important;
}

body.admin-bar .header-active3 {
	top: 32px !important;
}

#intro2 {
	background: #000;
}

#home-slider {
	width:120%;
	position:relative;
	left:-10%;
}

#home-slider .item {
	position: relative;
}

#home-slider .hs-overlay {
	background: #75650b;
	background: -moz-linear-gradient(top,  #75650b 0%, #1f1111 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#75650b), color-stop(100%,#1f1111));
	background: -webkit-linear-gradient(top,  #75650b 0%,#1f1111 100%);
	background: -o-linear-gradient(top,  #75650b 0%,#1f1111 100%);
	background: -ms-linear-gradient(top,  #75650b 0%,#1f1111 100%);
	background: linear-gradient(to bottom,  #75650b 0%,#1f1111 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#75650b', endColorstr='#1f1111',GradientType=0 );
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	opacity: 0.75;
}

.hs-inner {
	position: absolute;
	top: 50%;
	left: 0px;
	right: 0px;
	width: 100%;
	height: 126px;
	z-index: 555;
	margin-top: -93px;
}

.hs-inner h3 {
	font-size: 50px;
	font-weight: 800;
	text-transform: uppercase;
	color: #fff;
	text-align: center;
	line-height: 60px;
	letter-spacing: 0.15em;
	margin: -12px 0 25px;
}

.hs-inner h5 {
	font-size: 15px;
	font-weight: 700;
	text-transform: uppercase;
	color: #fff;
	text-align: center;
	line-height: 30px;
	letter-spacing: 0.15em;
	margin: 0 0 -9px;
}

#home-slider .owl-controls .owl-page span {
	display: block;
	width: 12px;
	height: 12px;
	margin: 5px 10px;
	opacity: 1;
	border-radius: 50%;
	background: #fff;
	border: 2px solid #fff;
}

#home-slider .owl-controls {
	position: absolute;
	bottom: 40px;
	left: 0;
	right: 0;
}

#home-slider .item img {
	line-height: 0;
	margin-bottom: -5px;
}

#home-slider .owl-controls .owl-page.active span {
	background: transparent;
	border: 2px solid #fff;
}

/* 22. Features Styles */

.features2 {
	padding: 80px 0 0;
	background: #fff;
}

.features2 ul {
	margin: 0 -15px;
}

.features2 li {
	float: left;
	font-family: Raleway;
	font-size: 15px;
	font-weight: 600;
	text-transform: uppercase;
	color: #000;
	letter-spacing: 0.15em;
	line-height: 50px;
	margin-left: 11.5%;
}

.features2 li:last-child {
	margin-right: 0px;
}

.features2 li span {
	color: #978b4e;
	font-size: 50px;
	float: left;
	margin-right: 15px;
}

.features3 {
	background: #f7f7f9;
}

.features3 .container {
	width: 100%;
	max-width: 100%;
	padding: 0;
}

.features3 h5 {
	font-size: 36px;
	font-weight: 600;
	text-transform: uppercase;
	color: #000;
	letter-spacing: 0.15em;
	margin: 0 0 33px;
	padding-bottom: 48px;
	background: url(../images/sep.png) no-repeat left bottom;
}

.features3 .col-md-5 {
	background: #fff url(http://demo.nrgthemes.com/) no-repeat center top;
	background-size: auto 100%;
	padding: 0 !important;
	height: 910px;
}

.features3 .col-md-5 img {
	opacity: 0;
}

.features3 .col-md-10 {
	padding: 120px 100px;
}

.features3 .col-md-10 ul li {
padding-right:20px;
}

.features3 p {
	font-size: 16px;
	font-weight: 300;
	letter-spacing: 0.05em;
	line-height: 30px;
	color: #666666;
}

.features3 li {
	margin-top: 40px;
}

.features3 li span {
	color: #978b4e;
	font-size: 45px;
	float: none;
	margin-bottom: 18px;
	display: block;
}

.features3 li h4 {
	font-size: 20px;
	font-weight: 500;
	text-transform: uppercase;
	color: #000;
	line-height: 30px;
	letter-spacing: 0.15em;
	margin: 0 0 12px;
}

.features3 li p {
	font-size: 14px;
	font-weight: 300;
	letter-spacing: 0.05em;
	line-height: 27px;
	color: #666666;
}

/* 23. Info wrap */

.info-wrap {
	margin: 0 -38px;
}

.info-wrap li {
	margin-top: 20px;
	text-align: center;
	padding: 0 38px;
	margin-bottom: 80px;
}

.info-wrap li h4 {
	font-size: 20px;
	font-weight: 600;
	text-transform: uppercase;
	color: #000;
	line-height: 30px;
	letter-spacing: 0.15em;
	margin: 40px 0px 23px;
}

.info-wrap li p {
	font-size: 14px;
	letter-spacing: 0.05em;
	line-height: 27px;
	margin-bottom: 40px;
	color: #666;
	padding: 0 10px;
}

.info-wrap li a {
	font-family: Raleway;
	font-size: 15px;
	font-weight: 600;
	text-transform: uppercase;
	color: #96894e;
	letter-spacing: 0.15em;
}

.info-wrap li a:hover {
	color:#000;
}

.inline-video-wrapper {
	height: auto;
	overflow: hidden;
	width: 100%;
}

.inline-video-wrapper video {
	width: 100%;
}

.showreel2 {
	padding: 122px 0;
	background: #f7f7f9;
}

.sr-inner h4 {
	font-size: 36px;
	font-weight: 600;
	text-transform: uppercase;
	color: #000;
	letter-spacing: 0.15em;
	margin: -18px 0px 38px;
	line-height: 60px;
	padding-bottom: 43px;
	background: url(../images/sep.png) no-repeat left bottom;
}

.sr-inner p {
	letter-spacing: 0.05em;
	line-height: 30px;
}

.sr-inner a, a.anchor-gold {
	font-family: Raleway;
	font-size: 13px;
	font-weight: 600;
	text-transform: uppercase;
	color: #96894e;
	letter-spacing: 0.15em;
	display: table;
	margin: 55px 0 0;
}

.sr-inner {
	padding-left: 15px;
}

.cta {
	background: #fff;
	padding: 75px 0px;
}

.cta p {
	font-family: Raleway;
	font-size: 15px;
	font-weight: 600;
	text-transform: uppercase;
	color: #96894e;
	letter-spacing: 0.15em;
	line-height: 30px;
	margin-top: 10px;
}

.cta a {
	padding: 0 70px;
	float: right;
	margin-left: 90px;
}

/* 24. Blog Styles */

#blog-wrap {
	padding: 165px 0 135px;
	background: #fff;
}

.blog-content h4 {
	font-family: Raleway;
	font-size: 20px;
	font-weight: 600;
	text-transform: uppercase;
	color: #000;
	margin: 55px 0 25px;
	letter-spacing: 0.15em;
	line-height: 30px;
}

.blog-content h4 a {
	color: #000;
}

.blog-content h4 a:hover {
	color:#978b4e;
}

.blog-content .date {
	font-size: 15px;
	color: #666;
	font-weight: 300;
	letter-spacing: 0.15em;
	margin: 0 0 35px;
	text-transform: uppercase;
}

.blog-content p {
	font-size: 14px;
	letter-spacing: 0.05em;
	line-height: 27px;
	color: #666;
}

.rmore {
	font-family: Raleway;
	font-size: 13px;
	font-weight: 600;
	text-transform: uppercase;
	color: #96894e;
	letter-spacing: 0.15em;
	display: table;
	margin: 35px 0 0;
}

.rmore:hover {
	color:#000;
}

.clients2-slider {
	margin: -50px 0 0;
}

.clients2-slider div img {
	opacity: 0.3;
	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease;
	transition: all .4s ease;
	-webkit-backface-visibility: none;
}

.clients2-slider div img:hover {
	opacity: 1;
	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease;
	transition: all .4s ease;
	cursor: pointer;
}

.clients2-slider .slick-slide {
	height: inherit;
}

.footer3 {
	background: #000000;
}

.footer3 .footer-social li a {
	color: #555555;
}

.footer3 .footer-social li a:hover {
	color: #aaa;
}

.footer3-content {
	background: #f7f7f9;
	padding: 105px 0 115px;
	position: relative;
	z-index: 1;
}

.footer3-content h5 {
	font-size: 24px;
	text-transform: uppercase;
	color: #000;
	font-family: Raleway;
	font-weight: 800;
	letter-spacing: 0.15em;
	margin: 0 0 25px;
	min-height: 25px;
}

.footer3-content p {
	letter-spacing: 0.05em;
	line-height: 30px;
	color: #666;
}

#intro3 {
	background: url(http://demo.nrgthemes.com/) no-repeat fixed;
	background-size: 100% auto;
}

.intro3-inner {
position:absolute;
left:0;
right:0;
}

.intro3-inner h3 {
	line-height: 60px;
	letter-spacing: 0.15em;
	text-align: center;
	font-size: 50px;
	font-weight: 800;
	text-transform: uppercase;
	color: #000;
	margin: -12px 0;
}

.header4 {
	background: #fff !important;
	height: 75px;
	position: relative !important;
	width: 100% !important;
	margin: 0px !important;
	left: 0;
	right: 0;
	top: 0px !important;
	z-index: 9999;
}

.is-sticky .header4 {
	position: fixed !important;
}

.admin-bar .is-sticky .header4 {
	top: 32px !important;
}

#index4 .together {
	background: #eef8fa;
}

#parallax-wrap img {
	opacity: 0;
}

.parallax-wrap {
	background: url(http://demo.nrgthemes.com/) no-repeat fixed;
	background-size: 100% auto;
}

#index4 #services {
	padding: 135px 0px 135px;
}

.service-content2 {
	margin-top: 85px;
}

.service-content2 i {
	font-size: 50px;
	display: table;
	margin: 0;
	color: #8594a5;
	float: left;
}

.service-content2 h4 {
	font-size: 20px;
	font-weight: 600;
	text-transform: uppercase;
	color: #000;
	line-height: 30px;
	letter-spacing: 0.15em;
	margin: 5px 0 12px;
}

.service-content2 p {
	line-height: 27px;
	letter-spacing: 0.05em;
	font-size: 14px;
	color: #666;
	font-weight: 300;
	padding: 0px;
}

.sc2-inner {
	margin-left: 103px;
}

.gallery {
	background: #eef8fa;
	padding: 0 0 75px;
}

.gallery .container {
	width: 100%;
	padding: 0;
}

.gal-slider {
	margin: 0;
	width: 210%;
	margin-left: -55%;
}

.gal-slider .slick-prev {
	display: table;
	margin: 0 auto;
	background: transparent;
	border: none;
	width: 30px;
	height: 30px;
	font-size: 0;
	left: -25px;
	position: relative;
}

.gal-slider .slick-prev:after {
	content: "\f104";
	font-family: 'FontAwesome';
	font-size: 30px;
	color: #000000;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	margin: 0 auto;
	top: 0;
	transition: .4s;
}

.gal-slider .slick-next {
	display: table;
	margin: 0 auto;
	background: transparent;
	border: none;
	width: 30px;
	height: 30px;
	font-size: 0;
	position: relative;
	left: 25px;
	margin-top: -30px;
}

.gal-slider .slick-next:after {
	content: "\f105";
	font-family: 'FontAwesome';
	font-size: 30px;
	color: #000000;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	margin: 0 auto;
	top: 0;
	transition: .4s;
}

.gal-slider .slick-next:hover:after ,
.gal-slider .slick-prev:hover:after {
	color: #999;
	transition: .4s;
}

.gal-slider .slick-slide .gi-inner {
	opacity: 0;
	transition: .4s;
}

.gal-slider .slick-center .gi-inner {
	opacity: 1;
	transition: .4s;
}

.gi-inner {
	padding: 75px 0 0;
}

.gi-inner h4 {
	text-align: center;
	letter-spacing: 0.15em;
	font-size: 15px;
	line-height: 30px;
	margin: 0 0 35px;
}

.gi-inner p {
	text-align: center;
	line-height: 30px;
	letter-spacing: 0.05em;
	margin: 0 0 45px;
	padding:0 30px;
}

.acc-wrap {
	padding: 160px 0px;
	background: #fff;
	position: relative;
}

.culture2 h4 {
	font-size: 15px;
	letter-spacing: 0.15em;
	text-align: center;
	line-height: 30px;
	margin: 0 0 75px;
}

.c-slider .slick-prev {
	display: table !important;
	margin: 0px auto;
	background: transparent;
	border: medium none;
	width: 30px;
	height: 30px;
	font-size: 0px;
	left: -80px;
	position: absolute;
	top: 50%;
	margin-top: -15px;
	display: table !important;
}

.c-slider .slick-prev:after {
	content: "\f104";
	font-family: 'FontAwesome';
	font-size: 30px;
	color: #000000;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	margin: 0 auto;
	top: 0;
	transition: .4s;
}

.c-slider .slick-next {
	display: table !important;
	margin: 0px auto;
	background: transparent;
	border: medium none;
	width: 30px;
	height: 30px;
	font-size: 0px;
	right: -40px;
	position: absolute;
	top: 50%;
	margin-top: -15px;
	display: table !important;
}

.c-slider .slick-next:after {
	content: "\f105";
	font-family: 'FontAwesome';
	font-size: 30px;
	color: #000000;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	margin: 0 auto;
	top: 0;
	transition: .4s;
}

.c-slider .slick-next:hover:after ,
.c-slider .slick-prev:hover:after {
	color: #999;
	transition: .4s;
}

.lead-para-logo, .logo-section h3 {
	transition: .4s;
}

#logo-section-sticky-wrapper.is-sticky #logo-section {
	background: #f00;
	height: 75px !important;
	padding: 10px 0px;
	transition: .4s;
}

#logo-section-sticky-wrapper.is-sticky .lead-para-logo {
	opacity: 0;
	transition: .4s;
}

#logo-section-sticky-wrapper.is-sticky .logo-section h3 {
	position: relative;
	top: 16px;
	transition: .4s;
}

.header1 {
	background: #ffffff !important;
	height: 75px;
	position: fixed !important;
	width: 100% !important;
	margin: 0 !important;
	left: 0;
	right: 0;
	top: -80px !important;
	z-index: 9999;
	padding: 0 30px;
	transition: .4s;
}

.header-active {
	top: 0px !important;
	transition: .4s;
}

.header5 {
	position: absolute !important;
	transition: .4s;
}

.header-active2 {
	background: #333333;
	position: fixed !important;
	transition: .4s;
	top: 0 !important;
	width: 100% !important;
	margin: 0 !important;
	padding: 0 15px;
}

.portfolio-thumb a {
	position: relative;
	overflow: hidden;
	display: table;
	width:100%;
}

.portfolio-thumb a:after {
	content: "";
	background: url(../images/plus.png) no-repeat center center;
	color: #000000;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	line-height: 50px;
	margin: 0 auto;
	top: 0;
	opacity: 0;
	transition: .4s;
}

.portfolio-thumb a img {
	opacity: 1;
	transition: .5s;
	width: 100%;
}

.portfolio-thumb a:hover img {
	opacity: 0.3;
	transition: .5s;
	transform: scale(1.1);
}

.portfolio-thumb a:hover:after {
	opacity: 1;
	transition: .4s;
}

.parallax-wrap1 img {
	opacity: 0;
}

.parallax-wrap1 {
	background: url(http://demo.nrgthemes.com/) no-repeat fixed;
	background-size: 100% auto;
}

.parallax-wrap2 img {
	opacity: 0;
}

.parallax-wrap2 {
	background: url(http://demo.nrgthemes.com/) no-repeat fixed;
	background-size: 140% auto;
}

#ascrail2000 {
	z-index:10000 !important;
}

#main-slider {
    display: none !important;
    opacity: 1;
    position: absolute;
    top: 0;
    left: -5%;
    right: 0;
    z-index: -1;
    width: 110%;
    height: 100%;
}

#main-slider img {
	width:100%;
}

.isotope {
	overflow:hidden;
}

.portfolio-grid {
	position:relative;
	overflow:hidden;
	height: inherit; /* inherited value from parent element */
}

#supersized {
	position:relative !important;
}

ul#supersized {
	display:none !important;
}


/* 25. Additional styles */

.img-margined img {
	margin-bottom: 30px;
}

.section {
	background-color: #fff;
	background-size: inherit;
	position: relative;
	overflow: hidden;
}

.service-content {
	margin-top: 70px;
}

.wpb_revslider_element.wpb_content_element {
	margin-bottom: 0px;
}

.top-rev-slider .rev_slider_wrapper {
	position: fixed !important;
	left: 0 !important;
	z-index: 0;
}

div.wpcf7 img.ajax-loader {
	display: table;
	margin: 10px auto;
}

div.wpcf7-validation-errors, div.wpcf7-mail-sent-ng {
	width: 100%;
	height: auto;
	background: #fff;
	border: 1px solid #ddd;
	margin: 0 auto;
	padding: 30px;
	color: #888;
	clear: both;
	top: 30px;
	position: relative;
}

.newsletter2 + div.wpcf7-validation-errors, .newsletter2 + div.wpcf7-mail-sent-ng {
	clear: both;
	top: 30px;
	position: relative;
	margin-left: 15px;
	margin-right: 15px;
	width: 505px;
	padding: 10px 20px 0;
}

span.wpcf7-form-control-wrap {
    display: block;
}

span.wpcf7-not-valid-tip {
	position: absolute;
	z-index: 1;
	bottom: 0;
	left: 20px;
	display: table;
	font-size: 0.75em;
	font-weight: 400;
	line-height: 1.8em;
	letter-spacing: 0.02em;
	white-space: nowrap;
}

div#supersized-loader {
	display: none;
}

.admin-bar .header-active {
	top: 32px !important;
}

#header2 .dropdown-menu {
	position: absolute;
	top: 100%;
	left: -5px;
	z-index: 1000;
	float: left;
	min-width: 160px;
	padding: 10px 10px 10px 10px;
	margin: 0;
	list-style: outside none none;
	font-size: 13px;
	font-weight: 300;
	letter-spacing: 0.05em;
	background-color: #FFF;
	border: none;
	border-radius: 0;
	box-shadow: none;
	background-clip: padding-box;
}

#header2 .dropdown-menu a {
	color: #666;
	width:100%;
}

.dropdown-menu > li > a {
	display: block;
	padding: 5px 20px;
	clear: both;
	font-weight: 300;
	line-height: 1.42857;
	white-space: nowrap;
	font-size: 13px;
}

#header2 .dropdown-menu a:hover {
	color:#978b4e;
}

.dropdown span {
	font-size: 25px;
	position: relative;
	top: 4px;
	margin-left: 7px;
}

.menu-item span.dropdwn {
	display: none;
}

.menu-item-has-children > a > span.dropdwn, .dropdown span {
	display: inline;
	font-size: 25px;
	position: relative;
	top: 4px;
	margin-left: 7px;
}

.tp-caption.black.customin.customout.tp-resizeme.start {
	font-size: 28px !important;
	font-weight: 800;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	line-height: 55px !important;
	border-color: rgb(255,255,255);
	border-style: none;
	letter-spacing: 7px !important;
	z-index: 9999 !important;
}

.slider4 .tp-caption.black.customin.customout.tp-resizeme.start {
	color: #000;
}

/* Miera theme 2 */

header.header3 + div.body {
	top: 78px;
}

.vc_col-sm-6 .col-md-12.content-head, .vc_col-sm-6 .col-md-12.content-head p {
	padding-left: 0;
	padding-right: 0;
	text-align: justify;
}

.section.full-section .container {
	width: 100%;
	min-width: 100%;
	padding-right: 0;
	padding-left: 0;
}

.wo-padding {
	padding-left: 0;
	padding-right: 0;
	margin-left: -15px;
	margin-right: -15px;
}

.content-head p.wo-padding, .vc_col-sm-6 .col-md-12.content-head p.wo-padding {
	padding-left: 15px;
	padding-right: 15px;
}


/* Miera theme 3 */

.col-md-12.service-content2 {
	padding-left: 0;
	padding-right: 0;
}

.accordion-content {
	font-weight: 300;
	line-height: 1.8em;
	color: #4a4a4a;
	letter-spacing: 0.02em;
}

.accordion-content ul {
	font-weight: normal;
	color: #000;

}

.culture2 .slick-slide {
	height: inherit;
}


/* Miera theme 4 */

a.btn-1.icon-yes {
	height: 70px;
	line-height: 66px;
	font-size: 13px;
	font-weight: 600;
	padding: 0 40px;
}

a.btn-1.icon-yes.icon-left i {
	font-size: 3em;
	position: relative;
	top: 8px;
	margin-right: 40px;
}

a.btn-1.icon-yes.icon-right i {
	font-size: 3em;
	position: relative;
	top: 8px;
	margin-left: 40px;
}

/* Blog styles */

div#container.archive-page, div#container.single-post, body.error404 .container {
	padding-top: 50px;
	padding-bottom: 50px;
}

section.archive-section .row:not(:first-child) {
	padding-top: 50px;
}

figure.post-thumbnail {
	float: left;
	margin: 0px 20px 20px 0px;
}

figure.post-thumbnail.single-post-thumb {
	width: 100%;
}

figure.single-post-thumb img {
	width: 100%;
	height: auto;
}

p.post-date {
	font-size: 15px;
	color: #666;
	font-weight: 300;
	letter-spacing: 0.15em;
	margin: 0 0 15px;
	text-transform: uppercase;
}

article.single-post h1, article.archive-post h2 {
	font-size: 30px;
	line-height: 1.1;
	font-weight: 600;
	text-transform: uppercase;
	color: #000;
	letter-spacing: 0.15em;
	margin: 0 0 25px;
	padding-bottom: 20px;
	background: url(../images/sep.png) no-repeat left bottom;
	transition: .4s;
}

article.archive-post h2:hover {
	color: #96894e;
}

article.single-post h1.single-post-title {
	text-align: center;
	background-position: center bottom;
}

article.single-post h1 a, article.archive-post h2 a {
	color: inherit;
}

aside.single-sidebar ul li {
	padding-bottom: 10px;
}

aside.single-sidebar h4 {
	font-size: 20px;
	font-weight: 600;
	text-align: center;
	text-transform: uppercase;
	color: #4a4a4a;
	margin: 40px 0 10px;
	padding-bottom: 5px;
	background: url(../images/sep.png) no-repeat center bottom;
}

aside.single-sidebar, aside.single-sidebar a {
	color: #4a4a4a;
	font-weight: 300;
}

ul[role="navigation"] ul li {
	list-style: initial;
	list-style-type: square;
	margin-left: 20px;
	color: #4a4a4a;
	font-weight: 300;
}

ul[role="navigation"] ul ul.children li {
	list-style-type: circle;
}

aside.single-sidebar a {
	color: inherit;
	transition: .4s;
}

aside.single-sidebar a:hover {
	color: #000;
	text-decoration: underline;
}

.post-rmore.rmore {
	margin: 0;
}

.post-navigation, .blog-navigation {
	color: #4a4a4a;
	text-align: center;
	margin-top: 50px;
}

.blog-navigation span, .blog-navigation a {
	margin: 0 5px;
}

.blog-navigation span.current {
	font-weight: 600;
}

.post-navigation a[rel="prev"]+a[rel="next"] {
	margin-left: 30px;
}

.post-navigation a, .blog-navigation a {
	color: inherit;
	transition: .4s;
	font-weight: 300;
}

.post-navigation a:hover, .blog-navigation a:hover {
	text-decoration: underline;
}

form#searchform {
	position: relative;
}

form#searchform input {
	width: 100%;
	outline: none;
	padding: 5px 10px;
}

button.search-button {
	position: absolute;
	top: 50%;
	right: 1px;
	background: none;
	border: none;
	margin-top: -18px;
	color: #bbb;
	padding: 10px;
	font-size: 16px;
}

button.search-button:hover {
	color: #000;
}

table td, table th {
	padding: 10px;
	border: 1px solid #ddd;
}

div.widget_calendar table {
	font-weight: 300;
}

div.widget_calendar table td, div.widget_calendar table th {
	border: 0;
}

div.widget_calendar table a {
	font-weight: 600;
}

div.widget_categories select {
	width: 100%;
	padding: 10px;
	outline: none;
	background: none;
}

span.comment-author-link a {
	font-style: italic;
	font-weight: normal;
}

div.widget_revslider {
	font-size: 20px;
	font-weight: 600;
	text-align: center;
	text-transform: uppercase;
	color: #4a4a4a;
	margin: 20px 0 10px;
}

div.widget_revslider {
	position: relative;
}

div.widget_revslider .rev_slider_wrapper {
	max-width: 100%;
	max-height: 150px !important;
	left: 0 !important;
}

div.widget_revslider .rev_slider_wrapper .tp-caption.black.customin.customout.tp-resizeme.start {
	font-size: 0.7em !important;
	letter-spacing: 0.2em !important;
}

div.widget_revslider .tp-bullets.simplebullets.round {
	left: inherit !important;
	margin-left: 38% !important;
	bottom: 5px !important;
}

.widget_calendar td#next {
	text-align: right;
}

textarea#comment {
	height: 6em;
	width: 100%;
}

code {
	display: block;
	white-space: normal;
}

form.comment-form input#submit {
	font-size: 13px;
	font-weight: 600;
	text-transform: uppercase;
	color: #000;
	letter-spacing: 0.15em;
	font-family: Raleway;
	border: 2px solid #000000;
	line-height: 46px;
	height: 50px;
	padding: 0 50px;
	margin-top: 25px;
	transition: .4s;
}

form.comment-form input#submit:hover {
	color: #fff;
	border: 2px solid #000000;
	background: transparent;
}

.pagelink {
	text-align: center;
}

.pagelink a {
	font-weight: 400;
}

.post-cats span, .post-tags span {
	font-style: italic;
	font-weight: 400;
}

p.post-cats, p.post-tags {
	margin-top: 50px;
}
p.post-cats + p.post-tags {
	margin-top: 0;
}

.post-cats a, .post-tags a {
	transition: .4s;
}

.post-cats a:hover, .post-tags a:hover {
	color: #000;
	text-decoration: underline;
}

h2.comments-title {
	padding: 1.5em 0 0.5em 1em;
}

div#comments li.comment {
	margin-bottom: 10px;
	border-top: 1px solid #eee;
	padding: 10px 0 0 10px;
	list-style: none;
}

div.comment-body {
	position: relative;
}

.comment-body .reply a {
	display: inline-block;
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
	color: #000;
	letter-spacing: 0.15em;
	font-family: Raleway;
	border: 1px solid #000000;
	padding: 0 15px;
	transition: .4s;
	margin: 0 0 10px;
}

.reply {
	text-align: right;
}

.comment-body .reply a:hover {
	color: #fff;
	border: 1px solid #000000;
	background: transparent;
}

.comment-meta.commentmetadata {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 0.8em;
}

form.post-password-form input[type="submit"] {
	background: #fff;
	outline: none;
	display: inline-block;
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
	color: #000;
	letter-spacing: 0.15em;
	font-family: Raleway;
	border: 1px solid #000000;
	padding: 1px 15px;
	transition: .4s;
	margin: 0 0 10px;
	position: relative;
	top: -1px;
	height: auto;
	line-height: inherit;
}

form.post-password-form input[type="submit"]:hover {
	color: #fff;
	border: 1px solid #000000;
	background: transparent;
}

.tp-bullets.simplebullets.round .bullet {
	display: block;
	width: 12px;
	height: 12px;
	margin: 5px 5px;
	opacity: 1;
	border-radius: 50%;
	background: #fff;
	border: 2px solid #fff;
}

.tp-bullets.simplebullets.round .bullet.selected {
	background: transparent;
	border: 2px solid #fff;
}

.blog-more-btn.col-md-12 {
	margin: 3em 0 0;
	text-align: right;
}

.blog-more-btn.col-md-12 a {
	display: inline-block;
}

.header5.header-active2 {
	top: 0px !important;
}

.admin-bar .header5.header-active2 {
	top: 32px !important;
}

.archive .header-active, .blog .header-active, .single .header-active, .archive .header-active2, .blog .header-active2, .single .header-active2, .archive .header-active3, .blog .header-active3, .single .header-active3, body:not(.home) header.header4.sticky-wrapper {
	background-color: #f7f7f9 !important;
}

.comment-author img {
	margin: 0 10px 10px 0;
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus {
	background-color: #f5f5f5;
}

span.no-menu {
	float: right;
	padding: 25px;
}

.sticky {
	background-color: #F5F5F5;
	padding: 20px;
	position: relative;
}

article.sticky::after {
	content: "\f08d";
	position: absolute;
	top: 10px;
	right: 12px;
	-webkit-transform: rotate(20deg);
	-ms-transform: rotate(20deg);
	-o-transform: rotate(20deg);
	transform: rotate(20deg);
	font-size: 2em;
	color: #333;
}

.row ul li {
	list-style: none;
}





#rev_slider_1_1 .tp-caption a{
	color: #FFF;
}

#rev_slider_1_1 h2{
	color: #FFF;
}
.color01{
	color: #21B16C;
}
#rev_slider_1_1 .btn-1:hover {
	/*border: 1px solid #000;*/
}

#rev_slider_1_1 .btn-1 {
	border: 1px solid transparent;
}
#about .plan-title, #about .pricing-plan p.price-desc {
	color: #FFFFFF;
}

#about .pricing-plan p.price-desc{
	font-size: 17px;
}

#about .buy-btn{
	font-size: 70px;
	color: #FFFFFF;
}

#about .btn-1{
	border: none;
}
#pricing .pricing-plan{
	background: transparent;
	border: 1px dotted #22A963!important;
}
#pricing  .pricing-plan p.price-desc{
	color:#22A963!important;
	font-size: 19px;
}
#pricing  .pricing-plan .plan-title{
	color:#22A963!important;
}

#pricing .btn-1{
	border: 1px solid #22A963;
}
#pricing i{
	color: #22A963;
}
#legal p{
	padding: 0!important;
	font-size: 12px;
}


@media (min-width: 1200px){
	#rev_slider_1_1_wrapper .col-lg-offset-2 {
	    margin-left: 16.66667%;
	}
}
@media (min-width: 1200px){
	#rev_slider_1_1_wrapper .col-lg-8 {
	    width: 66.66667%;
	}
}

@media (min-width: 1200px){

	#rev_slider_1_1_wrapper .col-lg-1, 
	#rev_slider_1_1_wrapper .col-lg-10, 
	#rev_slider_1_1_wrapper .col-lg-11, 
	#rev_slider_1_1_wrapper .col-lg-12, 
	#rev_slider_1_1_wrapper .col-lg-2, 
	#rev_slider_1_1_wrapper .col-lg-3, 
	#rev_slider_1_1_wrapper .col-lg-4, 
	#rev_slider_1_1_wrapper .col-lg-5, 
	#rev_slider_1_1_wrapper .col-lg-6, 
	#rev_slider_1_1_wrapper .col-lg-7, 
	#rev_slider_1_1_wrapper .col-lg-8, 
	#rev_slider_1_1_wrapper .col-lg-9 {
	    float: left;
	}
}

@media (min-width: 1200px){
	#rev_slider_1_1_wrapper .col-lg-24 {
		float: left;
		width: 20%;
	}
}

#rev_slider_1_1_wrapper .col-lg-24, #rev_slider_1_1_wrapper .col-md-24, #rev_slider_1_1_wrapper .col-sm-24, #rev_slider_1_1_wrapper .col-xs-24 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

#rev_slider_1_1_wrapper .radio-inline {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 82px;
    margin-bottom: 20px;
    padding: 0;
    cursor: pointer;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 2px;
    background-size: 100% auto;
}
.h1{
 
}

#rev_slider_1_1_wrapper .radio-inline.last small {
    font-size: 11px;
    line-height: 1em;
    position: absolute;
    top: 17px;
    left: 0;
    width: 100%;
    text-align: center;
}

.form1{
}

.h2, .title-container h2 {
    font-size: 28px;
    font-weight: 700;
    display: block;
    margin-top: 70px;
}

#rev_slider_1_1 .vc_col-sm-2{
	border:2px solid #FFFFFF;
	margin-left: 10px;
	text-align: center;
}

#rev_slider_1_1 .vc_col-sm-2 a{
	display: block;
	padding: 0!important;
}

/*
#rev_slider_1_1 .vc_col-sm-2 small{
	font-size: 9px;
}
*/

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}