<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments for MiEra Landing</title>
	<atom:link href="http://demo.nrgthemes.com/projects/mierawp/landing/comments/feed/" rel="self" type="application/rss+xml" />
	<link>http://demo.nrgthemes.com/projects/mierawp/landing</link>
	<description>Just another MiEra Sites site</description>
	<lastBuildDate>Thu, 14 Mar 2013 18:30:33 +0000</lastBuildDate>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.4.2</generator>
	<item>
		<title>Comment on Template: Comments by Jane Doe</title>
		<link>http://demo.nrgthemes.com/projects/mierawp/landing/2012/01/03/template-comments/#comment-19</link>
		<dc:creator><![CDATA[Jane Doe]]></dc:creator>
		<pubDate>Thu, 14 Mar 2013 18:30:33 +0000</pubDate>
		<guid isPermaLink="false">http://wpthemetestdata.wordpress.com/2007/09/04/comment-test/#comment-19</guid>
		<description><![CDATA[Thanks for all the comments, everyone!]]></description>
		<content:encoded><![CDATA[<p>Thanks for all the comments, everyone!</p>
]]></content:encoded>
	</item>
	<item>
		<title>Comment on Template: Comments by John Doe</title>
		<link>http://demo.nrgthemes.com/projects/mierawp/landing/2012/01/03/template-comments/#comment-18</link>
		<dc:creator><![CDATA[John Doe]]></dc:creator>
		<pubDate>Thu, 14 Mar 2013 18:27:54 +0000</pubDate>
		<guid isPermaLink="false">http://wpthemetestdata.wordpress.com/2007/09/04/comment-test/#comment-18</guid>
		<description><![CDATA[We use these tests all the time! Killer stuff!]]></description>
		<content:encoded><![CDATA[<p>We use these tests all the time! Killer stuff!</p>
]]></content:encoded>
	</item>
	<item>
		<title>Comment on Template: Comments by John Doe</title>
		<link>http://demo.nrgthemes.com/projects/mierawp/landing/2012/01/03/template-comments/#comment-17</link>
		<dc:creator><![CDATA[John Doe]]></dc:creator>
		<pubDate>Thu, 14 Mar 2013 18:23:24 +0000</pubDate>
		<guid isPermaLink="false">http://wpthemetestdata.wordpress.com/2007/09/04/comment-test/#comment-17</guid>
		<description><![CDATA[We are totally going to blog about these tests!]]></description>
		<content:encoded><![CDATA[<p>We are totally going to blog about these tests!</p>
]]></content:encoded>
	</item>
	<item>
		<title>Comment on Template: Comments by Jane Doe</title>
		<link>http://demo.nrgthemes.com/projects/mierawp/landing/2012/01/03/template-comments/#comment-16</link>
		<dc:creator><![CDATA[Jane Doe]]></dc:creator>
		<pubDate>Thu, 14 Mar 2013 16:56:43 +0000</pubDate>
		<guid isPermaLink="false">http://wpthemetestdata.wordpress.com/2007/09/04/comment-test/#comment-16</guid>
		<description><![CDATA[Image comment.

]]></description>
		<content:encoded><![CDATA[<p>Image comment.</p>
]]></content:encoded>
	</item>
	<item>
		<title>Comment on Template: Comments by John Doe</title>
		<link>http://demo.nrgthemes.com/projects/mierawp/landing/2012/01/03/template-comments/#comment-15</link>
		<dc:creator><![CDATA[John Doe]]></dc:creator>
		<pubDate>Thu, 14 Mar 2013 15:14:47 +0000</pubDate>
		<guid isPermaLink="false">http://wpthemetestdata.wordpress.com/2007/09/04/comment-test/#comment-15</guid>
		<description><![CDATA[Comment Depth 10

Also an author comment.]]></description>
		<content:encoded><![CDATA[<p>Comment Depth 10</p>
<p>Also an author comment.</p>
]]></content:encoded>
	</item>
	<item>
		<title>Comment on Template: Comments by Joe Bloggs</title>
		<link>http://demo.nrgthemes.com/projects/mierawp/landing/2012/01/03/template-comments/#comment-14</link>
		<dc:creator><![CDATA[Joe Bloggs]]></dc:creator>
		<pubDate>Thu, 14 Mar 2013 15:14:13 +0000</pubDate>
		<guid isPermaLink="false">http://wpthemetestdata.wordpress.com/2007/09/04/comment-test/#comment-14</guid>
		<description><![CDATA[Comment Depth 09]]></description>
		<content:encoded><![CDATA[<p>Comment Depth 09</p>
]]></content:encoded>
	</item>
	<item>
		<title>Comment on Template: Comments by Jane Bloggs</title>
		<link>http://demo.nrgthemes.com/projects/mierawp/landing/2012/01/03/template-comments/#comment-13</link>
		<dc:creator><![CDATA[Jane Bloggs]]></dc:creator>
		<pubDate>Thu, 14 Mar 2013 15:13:42 +0000</pubDate>
		<guid isPermaLink="false">http://wpthemetestdata.wordpress.com/2007/09/04/comment-test/#comment-13</guid>
		<description><![CDATA[Comment Depth 08]]></description>
		<content:encoded><![CDATA[<p>Comment Depth 08</p>
]]></content:encoded>
	</item>
	<item>
		<title>Comment on Template: Comments by Joe Bloggs</title>
		<link>http://demo.nrgthemes.com/projects/mierawp/landing/2012/01/03/template-comments/#comment-12</link>
		<dc:creator><![CDATA[Joe Bloggs]]></dc:creator>
		<pubDate>Thu, 14 Mar 2013 15:12:58 +0000</pubDate>
		<guid isPermaLink="false">http://wpthemetestdata.wordpress.com/2007/09/04/comment-test/#comment-12</guid>
		<description><![CDATA[Comment Depth 07]]></description>
		<content:encoded><![CDATA[<p>Comment Depth 07</p>
]]></content:encoded>
	</item>
	<item>
		<title>Comment on Template: Comments by Jane Bloggs</title>
		<link>http://demo.nrgthemes.com/projects/mierawp/landing/2012/01/03/template-comments/#comment-11</link>
		<dc:creator><![CDATA[Jane Bloggs]]></dc:creator>
		<pubDate>Thu, 14 Mar 2013 15:12:16 +0000</pubDate>
		<guid isPermaLink="false">http://wpthemetestdata.wordpress.com/2007/09/04/comment-test/#comment-11</guid>
		<description><![CDATA[Comment Depth 06]]></description>
		<content:encoded><![CDATA[<p>Comment Depth 06</p>
]]></content:encoded>
	</item>
	<item>
		<title>Comment on Template: Comments by Joe Bloggs</title>
		<link>http://demo.nrgthemes.com/projects/mierawp/landing/2012/01/03/template-comments/#comment-10</link>
		<dc:creator><![CDATA[Joe Bloggs]]></dc:creator>
		<pubDate>Thu, 14 Mar 2013 15:10:29 +0000</pubDate>
		<guid isPermaLink="false">http://wpthemetestdata.wordpress.com/2007/09/04/comment-test/#comment-10</guid>
		<description><![CDATA[Comment Depth 05

Also an author comment.]]></description>
		<content:encoded><![CDATA[<p>Comment Depth 05</p>
<p>Also an author comment.</p>
]]></content:encoded>
	</item>
</channel>
</rss>
